<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>支付填写</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <style type="text/css">
        body{
            background-size: cover;
            height: auto;
            width: 100%;
        }
    </style>
</head>
<body background="/img/pay2.jpg">
<h2>


    <form action="/ToPlay" method="post" style="width:50%; margin:0 auto">
        <div class="form-group">
            <div class="row">
                <label class="form-label col-md-4">商品订单号：</label>
                <div class="col-md-5">
                    <input id="p2_Order" name = "p2_Order" class="form-control" type="text" placeholder="商品订单号" />
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label class="form-label col-md-4">支付金额：</label>
                <div class="col-md-5">
                    <input id="p3_Amt" name="p3_Amt" class="form-control" type="text"  placeholder="输入支付金额" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label class="form-label col-md-4">选择银行：</label>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label class="form-label col-md-4">中国农业银行</label>
                <div class="col-md-5">
                    <input id="pd_FrpId1" name="pd_FrpId" class="form-control" type="radio" value="ABC-NET-B2C"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label class="form-label col-md-4">建设银行</label>
                <div class="col-md-5">
                    <input id="pd_FrpId2" name="pd_FrpId" class="form-control" type="radio" value="CCB-NET-B2C"/>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-10">
                <input class="btn btn-info btn-block" type="submit" value="确认支付"/>
            </div>
        </div>


    </form>




</h2>
</body>
</html>








